.admin-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.division-label {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 23px;
  padding: 20px 20px 20px 0px;
  text-align: left;
}
