.nav-option {
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}
.side-bar {
  height: 100vh;
  background-color: white;
  width: 250px;
  padding-top: 20px;
}
.active {
  color: #6f58c9 !important;
}

.logo-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  padding-left: 10px;
}

.nav-link-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 20px 40px;
}

.grayscale {
  filter: grayscale(100%);
}
