.nav-option {
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: white !important ;
}
.side-bar {
  height: 100vh;
  background-color: red;
  width: 250px;
}
.nav-row:active {
  background-color: blue;
}

.logo-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}
