:root {
  --primary: #4a4a4a;
  --secondary: #a24936;
}

.App {
  text-align: center;
}

.app-title {
  font-size: 20px;
  color: var(--primary);
  font-weight: bold;
  text-align: left;
}

.login-subsection {
  text-align: left;
  color: var(--primary);
  padding-bottom: 10px;
}

.login-subsection-link {
  text-align: left;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

.login-subsection-link:hover {
  cursor: pointer;
}

.login-container {
  width: 100vw;
  padding: 20px;
}
