.bicycle-kick-graphic {
    height: 150px;
    overflow: hidden;
}

.google-button {
    background-color: #4A4A4A;
    height: 25px;
    width: 25px;
    border-radius: 100%;
}

.login-container {
    width: 350px;
    padding: 20px;
}

.login-title {
    font-family: "Karla";
    font-style: bold;
    font-weight: 700;
    font-size: 25px;
    line-height: 23px;
    padding: 20px 20px 20px 20px;
    text-align: left;
  }