.bicycle-kick-graphic {
    height: 100px;
    overflow: hidden;
}

.login-title {
    font-family: "Karla";
    font-style: bold;
    font-weight: 700;
    font-size: 25px;
    line-height: 23px;
    padding: 20px 20px 20px 0px;
    text-align: left;
  }